click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.9.1
mdurl==0.1.2
numpy==2.0.0
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
rich==13.7.1
scenedetect==0.6.4
six==1.16.0
tqdm==4.66.4
