click==8.1.7
kaleido==0.2.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
platformdirs==4.2.2
plotly==5.22.0
pygments==2.18.0
rich==13.7.1
scenedetect==0.6.4
tenacity==8.5.0
tqdm==4.66.4
